<ngb-carousel [interval]="6000" *ngIf="products.length > 0" class="carousel">
	<ng-template ngbSlide *ngFor="let product of products">
    <div class="slide-container">
      <div class="image-container">
        <img [src]="product.thumbnail" [alt]="product.title" />
      </div>
      <div class="text-container">
        <h3 class="title">{{product.title}}</h3>
        <div class="values-container">
          <span class="value">{{product.price | currency}}</span>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
