.item-container {
  width: 600px;
  height: 130px;
  padding: 20px 0;

  &.changable {
    width: 996px;
    border-bottom: none;
  }
}

.item-title-container {
  width: 400px;
  height: 100%;
}

.item-amount-container {
  height: 100%;
  width: 62px;
}

.item-price-container {
  height: 100%;
  width: 220px;
}

.trash-icon {
  color: #d00511;
  cursor: pointer;
}

.add-icon {
  color: #58c22e;
  cursor: pointer;
}

.amount-select {
  mat-form-field {
    width: 58px;
  }
}
