<div class="item-container d-flex justify-content-between">
  <div class="index-image-container">
    <span>#{{product.id}}</span>
    <app-item-image class="ml-4" [url]="product.images[0]" [alt]="product.title" ></app-item-image>
  </div>

  <div class="item-title-container">
    <span>{{product.title}}</span>
  </div>
  <div class="item-title-container">
    <span>{{product.stock}}</span>
  </div>
  <div class="d-flex flex-column item-price-container">
    <span>{{product.price | currency}} </span>
  </div>
</div>
