.item-container {
  height: 130px;
  padding: 20px 0;
}

.index-image-container {
  width: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    margin-right: 16px;
  }
}

.item-title-container {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.item-price-container {
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
