.infos-container {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;

  margin-bottom: 40px;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.discount  {
  font-size: 24px;
  font-weight: 500;
  color: #0086ff;

  margin-bottom: 16px;
}

.original-value {
  font-size: 12px;
  font-weight: 500;
  text-decoration: line-through;
  color: #575757;
  margin-bottom: 06px;
}

.value {
  font-size: 28px;
  font-weight: 500;
  color: #0086ff;
}

.button-container {
  width: 100%;
  margin-top: 40px;

  ::ng-deep .mdc-button{
    width: 100%;
    background-color: #0086ff;
    color: #fff;
  }
}
