.header-image-container {
  width: 101px;
}

.header-name-blank-container {
  width: 292.97px;
}

.header-amount-container {
  width: 62px;
}

.header-price-container {
  width: 160.97px;
}

.header-icon-blank-container {
  width: 15.31px;
}


.header-text {
  font-size: 14px;
  font-weight: 500;
}
