<div class="item-container d-flex justify-content-between">
  <app-item-image [url]="item.product.image.url" [alt]="item.product.image.alt" ></app-item-image>

  <div class="item-title-container">
    <span>{{item.product.title}}</span>
  </div>
  <div class="item-amount-container">
    <span>{{item.amount}}</span>
  </div>
  <div class="d-flex flex-column item-price-container">
    <span v-if="item.product.price.discount !== 0" class="original-price">De {{item.product.price.originalPrice | currency}} por</span>
    <span>{{item.product.price.value | currency}} </span>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <fa-icon class="trash-icon" [icon]="faTrash" size="lg"></fa-icon>
  </div>
</div>
