<div [routerLink]="['details']" [queryParams]="{id: product.id}" class="product-container">
  <div class="image-container">
    <img [src]="product.images[0]" [alt]="product.title">
  </div>
  <div class="text-container">
    <span class="title">{{product.title}}</span>
    <div class="price-container">
      <span class="value" *ngIf="product.discountPercentage > 0">{{product.price | currency}}</span>
    </div>
  </div>
  <div class="button-container">
    <app-add-cart-button [amount]="1" [productId]="product.id" ></app-add-cart-button>
  </div>
</div>
