.cart-title {
  color: #0083ca;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
}

.main-container {
  width: 996px;
  padding-top: 16px;
}

.cart-items-container {
  width: 956px;
}

.item-container {
  border-bottom: 1px solid #e5e5e5;
}

