:host {
  border: 1px solid #c1c1c1;
  border-radius: 16px;

  padding: 32px;
}

.title {
  color: #0083ca;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

.address-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 48px;
}

.register-container{
  width: 300px;


  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  mat-form-field {
    width: 100%;
  }

}
