.coupon-container {
  width: 300px;
  border: 1px solid #c1c1c1;
  border-radius: 8px;
  padding: 16px 16px 0;
  margin-top: 12px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}
