.cart-items-container {
  width: 956px;
}

.item-container {
  border-bottom: 1px solid #e5e5e5;
}

.header-image-container {
  width: 101px;
}

.header-name-blank-container {
  width: 400px;
}

.header-amount-container {
  width: 62px;
}

.header-price-container {
  width: 220px;
}

.header-icon-blank-container {
  width: 15.31px;
}


.header-text {
  font-size: 14px;
  font-weight: 500;
}

.total-container {
  margin-top: 32px;
}

.total-text {
  font-size: 16px;
  font-weight: 500;
  margin-right: 12px;
}

.total-price-text {
  font-size: 16px;
  margin-right: 12px;
}
